@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import '@reach/slider/styles.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

